body {text-align: center; color: rgb(19, 70, 128); font-family: "Arial"; font-size: 18px; padding: 5px;}

#head {background: rgb(226, 220, 131); box-shadow: 5px 2px 20px 0px rgba(0, 0, 0, 0.5); color: rgb(85, 78, 184); font-weight: bold; margin: 0; padding: 0.5em;}

#head #tagline {padding: 0 0 0 1em; font-size: 0.8em; font-weight: normal;}

#container {width: 80%; align-items: center; margin: 0 auto; padding: 0; font-size: 17px; text-align: justify; border: 1px solid rgb(226, 171, 171); background: rgb(231, 235, 241);}

#container h2 {font-size: 25px; text-align: center;} 

#container h3 {font-size: 18px; font-style: oblique; color: rgb(142, 31, 185);}

#post {padding: 0.5em;}