body {text-align: center; color: rgb(19, 70, 128); font-family: "Arial"; font-size: 17px; padding: 5px;}

#head {background: rgb(190, 247, 240); box-shadow: 5px 2px 20px 0px rgba(0, 0, 0, 0.5); color: rgb(85, 78, 184); font-weight: bold; margin: 0; padding: 0.5em;}

#head #tagline {padding: 0 0 0 1em; font-size: 0.9em; font-weight: normal;}

#head #logo {width: 32px; vertical-align: middle;}

#container {width: 80%; align-items: center; margin: 0 auto; padding: 0; text-align: justify; border: 1px solid rgb(226, 171, 171); background: rgb(231, 235, 241);}

#container h2 {font-size: 24px; text-align: center;} 

#container h3 {font-size: 16px; font-style: oblique; color: rgb(142, 31, 185);}

#post {padding: 0.2em;}

#footer {background: rgb(230, 196, 243); color: green; text-align: center; padding: 5px; font-size: 14px;}